Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: hestia-adr-lint
        name: hestia-adr-lint
        entry: hestia-adr-lint --format human
        language: system
        files: ^hestia/library/docs/ADR/.*\.md$
        exclude: ^(docs/playbooks|docs/runbooks)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, colored, -s]

  - repo: local
    hooks:
      - id: validate-metadata
        name: Validate HESTIA metadata
        entry: .venv/bin/python hestia/tools/validate_metadata.py
        language: system
        pass_filenames: false
      - id: hestia-workspace-enforcer
        name: Hestia Workspace Enforcer
        entry: hestia/tools/system/hestia_workspace_enforcer.sh
        language: script
        types: [yaml, sh, py, txt]
        pass_filenames: false

  - repo: local
    hooks:
      - id: deny-offer-lines
        name: deny-offer-lines
        entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
        language: script
        files: "\\.(md|markdown|txt|yml|yaml)$"

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0003-tier-definitions.md
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/library/docs/ADR/ADR-0005-entity-sensor-logic-signal.md
  hestia/library/docs/ADR/ADR-0006-decay-propagation.md
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/library/docs/ADR/ADR-0011-switch-modeling-and-validation.md
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/docs/ADR/ADR-0030-macos-workflows.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0006-decay-propagation.md
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/library/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/library/docs/ADR/ADR-0011-switch-modeling-and-validation.md
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/library/docs/ADR/ADR-0021-motion-occupancy-presence-signals.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-000x-template.md
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/docs/ADR/ADR-0021-motion-occupancy-presence-signals.md
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/library/docs/ADR/ADR-0030-macos-workflows.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/registry/room_registry.yaml
  packages/package_smartthings_failover.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/mr_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/playbooks/20251021_playbook-git-safe-merge.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/probes/system_instruction_probe.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/operations/patch_plans/20251021T160100Z-workspace_mode_and_governance_unified.md
  hestia/workspace/todo/0005-ssh-workspace-mode-copilot-plan.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/standardized_tts.yaml
Due: deny-offer-lines

fix(media_registry): align packages/media_registry/mr_src.yaml to feat/occupancy-beta-any-on-aggregate exact blob 7e5f1cd02a63aa0373248992a95827026cf0f73b
  packages/media_registry/mr_src.yaml
Due: deny-offer-lines
