Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat: add TTS announcement to Hestia Trash threshold automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081030Z
Due: none

feat: add TTS announcement to Hestia shutdown tmp prune automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081059Z
Due: none

fix: complete Trash automation notification data and add TTS
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081147Z
Due: none

fix: update Trash automation notification data structure
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081400Z
Due: none

feat: add TTS component to Trash automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081422Z
Due: none

fix: complete Trash automation with proper notification and TTS
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081552Z
Due: none

feat: add complete notification data and TTS to Trash automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081817Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

fix: update Trash automation notification data structure
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082007Z
Due: none

fix: replace message parameter with complete notification data
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082338Z
Due: none

feat: add TTS component to Trash automation after notification
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082614Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081030Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081059Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081147Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081400Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081422Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081552Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T081817Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082007Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082338Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T082614Z
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/adaptive_lighting.yaml
  packages/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/adaptive_lighting.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ci-config/config
  domain/sensors/cli_workspace_management.yaml
  hestia/library/docs/governance/persona.library/personas.archive/persona_core:tool_steward.md
  hestia/workspace/cache/out/sql_room_database_files/20250923_meta_capture.promptset.v1.2025-09-21T00:00:00Z.6f3b2c9a-7e0d-4b8a-9d1c-5f84a2c1e7d3.txt
  hestia/workspace/cache/out/sql_room_database_files/20250924_meta_capture.promptset.v1.2025-09-24T07:00:00Z.d4a1e6b2-9f3c-4b1a-8c2e-3f7b2a1c9d0e.txt
  template.library.jinja
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ci-config/config
  hestia/library/docs/governance/persona.library/personas.archive/persona_core:tool_steward.md
  hestia/workspace/cache/out/sql_room_database_files/20250923_meta_capture.promptset.v1.2025-09-21T00:00:00Z.6f3b2c9a-7e0d-4b8a-9d1c-5f84a2c1e7d3.txt
  hestia/workspace/cache/out/sql_room_database_files/20250924_meta_capture.promptset.v1.2025-09-24T07:00:00Z.d4a1e6b2-9f3c-4b1a-8c2e-3f7b2a1c9d0e.txt
  template.library.jinja
Due: deny-offer-lines

feat(ha): automated config push from Home Assistant
  .ci-config/config
  hestia/library/docs/governance/persona.library/personas.archive/persona_core:tool_steward.md
  hestia/workspace/cache/out/sql_room_database_files/20250923_meta_capture.promptset.v1.2025-09-21T00:00:00Z.6f3b2c9a-7e0d-4b8a-9d1c-5f84a2c1e7d3.txt
  hestia/workspace/cache/out/sql_room_database_files/20250924_meta_capture.promptset.v1.2025-09-24T07:00:00Z.d4a1e6b2-9f3c-4b1a-8c2e-3f7b2a1c9d0e.txt
  template.library.jinja
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_git.yaml.wbak.20251012T102755Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0028-.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  packages/integrations/adaptive_lighting.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/google_assistant.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/backup_config.yaml
  packages/hacs/hacs_network_scanner.yaml
  packages/startup_optimization.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/system_health_monitoring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_room_database.yaml
  packages/package_smartthings_failover.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/plant_monitoring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/operations/patches/openplantbook_uploader_fix.patch
  packages/package_git.yaml.wbak.20251012T102755Z
  packages/package_plant_monitoring.yaml
  packages/package_plex_variable_migration.yaml
  packages/package_room_database.yaml.bak
  packages/package_system_health_monitoring.yaml
  packages/startup_optimization.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/hacs/hacs_var.yaml
  packages/integrations/logger.yaml.disabled
  packages/integrations/network_scanner.yaml
  packages/package_startup_optimization.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  packages/package_startup_optimization.yaml
Due: deny-offer-lines

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
