Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/lovelace/multiple_entities_row.entities_card.md
Due: deny-offer-lines

feat(lovelace): add occupancy overview entities card using multiple-entity-row
  hestia/library/templates/lovelace/occupancy_overview.entities.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/lovelace/image-2.png
  hestia/library/ha_implementation/lovelace/multiple_entities_row.entities_card.md
  hestia/library/templates/lovelace/bedroom_media_entertainment.yml
  hestia/library/templates/lovelace/card.backup_sweeper_status.yml
  hestia/library/templates/lovelace/card.glances_bridge_status.yml
  hestia/library/templates/lovelace/card.lineage_guardian_status.yml
  hestia/library/templates/lovelace/card.tools_observability.yml
  hestia/library/templates/lovelace/lovelace_badge.yml
  hestia/library/templates/lovelace/lovelace_tile.yml
  hestia/library/templates/lovelace/mariadb_card.yml
  hestia/library/templates/lovelace/radio picker.yml
Due: deny-offer-lines

chore(lovelace): simplify occupancy overview for pipeline validation (state + upstreams + via)
  hestia/library/templates/lovelace/occupancy_overview.entities.yaml
Due: deny-offer-lines

feat(lovelace): add Kitchen force-preferred toggle to multiple-entity-row for quick override
  hestia/library/templates/lovelace/occupancy_overview.entities.yaml
Due: deny-offer-lines

chore(lovelace): unify occupancy rows (state header + toggles + upstreams + via)
  hestia/library/templates/lovelace/occupancy_overview.entities.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/occupancy_logic.yaml
  hestia/library/templates/lovelace/occupancy_overview.entities.yaml
Due: deny-offer-lines

feat(occupancy): living_room_occupancy_beta uses aggregate-any-on (+motion_recent) and aligns to kitchen shape
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(occupancy): bedroom/ensuite β now use aggregate-any-on (occupancy + companions + motion_recent) and align to kitchen shape
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

chore(occupancy): remove all references to force_preferred_source_kitchen and simplify aggregation notes
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/workflows/deny-offer-lines.yml
  hestia/guardrails/check_rest_command_guardrails.sh
  hestia/tools/adr/verify_frontmatter.py
  ops/check_workspace_quiet.sh
  tools/lint_paths.sh
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  hestia/tools/adr/verify_frontmatter.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/check_rest_command_guardrails.sh
  hestia/tools/adr/verify_frontmatter.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/verify_frontmatter.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/check_rest_command_guardrails.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0002-jinja-patterns.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
  hestia/library/ha_implementation/homemade/roomdb.tts_migration.md
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
Due: hestia-adr-lint, deny-offer-lines

ci(adr): robust front-matter extraction, exclude deprecated; downgrade missing keys to WARN
  hestia/tools/adr/verify_frontmatter.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/roomdb.tts_migration.md
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/migration.standardized_tts.md
  hestia/library/ha_implementation/homemade/roomdb.tts_migration.md
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
  hestia/library/ha_implementation/homemade/specs.standardized_tts.md
  hestia/library/ha_implementation/homemade/standardized_tts.yml
  hestia/library/templates/lovelace/bedroom_media_entertainment
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/roomdb.tts_guide.md
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
  hestia/library/ha_implementation/homemade/tool.backup_sweeper.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.lineage-guardian_guide.md
  hestia/library/ha_implementation/homemade/tool.template-patcher_guide.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
  hestia/library/ha_implementation/homemade/tool.backup_sweeper.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.lineage-guardian_guide.md
  hestia/library/ha_implementation/homemade/tool.template-patcher_guide.md
  hestia/library/ha_implementation/homemade/tool.write_broker.md
Due: deny-offer-lines

docs: update homemade tool guides and roomdb TTS docs; ci(adr): add --report output with structured report and index
  hestia/tools/adr/verify_frontmatter.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/frontmatter.adr_architecture.md
  hestia/library/ha_implementation/homemade/roomdb.tts_guide.md
  hestia/library/ha_implementation/homemade/roomdb.tts_specs.md
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
  hestia/library/ha_implementation/homemade/tool.backup_sweeper.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.lineage-guardian_guide.md
  hestia/library/ha_implementation/homemade/tool.template-patcher_guide.md
  hestia/library/ha_implementation/homemade/tool.write_broker.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/README.md
  hestia/library/ha_implementation/homemade/tool.sweeper_guide.md
  hestia/library/ha_implementation/homemade/tool.sweeper_readme.md
  hestia/tools/adr/frontmatter_verify.py
  hestia/tools/adr/verify_frontmatter.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_readme.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_readme.md
  hestia/library/ha_implementation/homemade/tool.lineage-guardian_guide.md
  hestia/library/ha_implementation/homemade/tool.sweeper_guide.md
  hestia/library/ha_implementation/homemade/tool.sweeper_readme.md
  hestia/library/ha_implementation/homemade/tool.write_broker.md
  hestia/tools/adr/frontmatter_verify.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/roomdb.tts_templates.md
  hestia/library/ha_implementation/homemade/tool.glances-bridge_guide.md
  hestia/library/ha_implementation/homemade/tool.sweeper_guide.md
  hestia/library/ha_implementation/homemade/tool.sweeper_readme.md
  hestia/library/ha_implementation/homemade/tool.template-patcher_guide.md
  hestia/library/ha_implementation/homemade/tool.write_broker.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/workflows/adr-frontmatter-verify.yml
  hestia/tools/adr/frontmatter_verify.py
  hestia/tools/adr/verify_frontmatter.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter_verify.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/frontmatter.adr_architecture.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/README.md
  hestia/tools/adr/frontmatter-normalize.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/workflows/adr-frontmatter-verify.yml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
  hestia/tools/adr/frontmatter-normalize.py
  hestia/tools/adr/frontmatter_verify.py
  hestia/tools/adr/verify_frontmatter.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
