Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: hestia-adr-lint
        name: hestia-adr-lint
        entry: hestia-adr-lint --format human
        language: system
        files: ^hestia/library/docs/ADR/.*\.md$
        exclude: ^(docs/playbooks|docs/runbooks)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, colored, -s]

  - repo: local
    hooks:
      - id: validate-metadata
        name: Validate HESTIA metadata
        entry: .venv/bin/python hestia/tools/validate_metadata.py
        language: system
        pass_filenames: false
      - id: hestia-workspace-enforcer
        name: Hestia Workspace Enforcer
        entry: hestia/tools/system/hestia_workspace_enforcer.sh
        language: script
        types: [yaml, sh, py, txt]
        pass_filenames: false

  - repo: local
    hooks:
      - id: deny-offer-lines
        name: deny-offer-lines
        entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
        language: script
        files: "\\.(md|markdown|txt|yml|yaml)$"

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  Makefile
  hestia/library/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
  hestia/tools/utils/backup/hestia_tarball.sh
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  Makefile
  hestia/library/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
  requirements.txt
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
  hestia/tools/adr/frontmatter-normalize.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/README.md
  hestia/tools/adr/frontmatter-normalize.py
  requirements-lite.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  requirements-ssh.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  requirements-ssh.txt
  requirements.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
  requirements-dev.in
  requirements-dev.txt
  requirements.in
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/homemade/tool.sweeper_guide.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/cli.conf
  hestia/library/ha_implementation/homemade/tool.sweeper_guide.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .markdownlint.jsonc
  .vscode/hass-live.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  bin/ci-meta-capture-enforce
  hestia/workspace/operations/delta_contracts/20251021_occupancy_sensor_fix.delta.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/operations/README.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/instructions/copilot-instructions.md
  hestia/library/docs/ADR/ADR-0032-patch-operation-workflow.md
  hestia/workspace/operations/README.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/docs/ADR/ADR-0032-patch-operation-workflow.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/operations/patch_plans/20251021T160100Z-workspace_mode_and_governance_unified.md
  hestia/workspace/staging/20251021T160000Z__copilot__ssh_workspace_mode_patch_plan.md
  hestia/workspace/todo/0005-ssh-workspace-mode-copilot-plan.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
  .vscode/hass-live.code-workspace
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md
  hestia/tools/diag/roomdb/dump_room_db_shape.py
  hestia/tools/diag/roomdb/room_db_inspect.py
  hestia/tools/diag/roomdb/validate_area_mapping.py
  hestia/workspace/operations/patch_plans/20251021T160100Z-workspace_mode_and_governance_unified.md
  hestia/workspace/staging/20251021T160000Z__copilot__ssh_workspace_mode_patch_plan.md
  hestia/workspace/todo/0005-ssh-workspace-mode-copilot-plan.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/ops/check_workspace_quiet.sh
  ops/check_workspace_quiet.sh
  tools/catalog/place_in_catalog.py
  tools/catalog/validate_copies.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/guardrails/README.md
  hestia/tools/guardrails/check_duplicate_keys.py
  hestia/tools/guardrails/check_no_symlinks.sh
  hestia/tools/guardrails/check_recorder_uniqueness.sh
  hestia/tools/guardrails/check_rest_command_guardrails.sh
  hestia/tools/guardrails/check_unique_automation_ids.py
  hestia/tools/guardrails/check_unique_unique_ids.py
  hestia/workspace/operations/patch_plans/20251021T210500Z-guardrails_tools_canonicalization.md
  hestia/workspace/staging/20251021T210000Z__copilot__guardrails_wrappers_plan.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/lint_paths.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/workflows/guardrails-rest-command.yml
  .github/workflows/ha-governance.yml
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/tools/guardrails/check_duplicate_keys.py
  hestia/tools/guardrails/check_no_symlinks.sh
  hestia/tools/guardrails/check_recorder_uniqueness.sh
  hestia/tools/guardrails/check_rest_command_guardrails.sh
  hestia/tools/guardrails/check_unique_automation_ids.py
  hestia/tools/guardrails/check_unique_unique_ids.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/README.md
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_no_symlinks.sh
  hestia/guardrails/check_recorder_uniqueness.sh
  hestia/guardrails/check_rest_command_guardrails.sh
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/README.md
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/tools/lint_paths.sh
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/tools/lint_paths.sh
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/tools/guardrails/README.md
  hestia/workspace/operations/guardrails/check_rest_command_guardrails.sh
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/guardrails/README.md
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_no_symlinks.sh
  hestia/guardrails/check_recorder_uniqueness.sh
  hestia/guardrails/check_rest_command_guardrails.sh
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/tools/adr/frontmatter-normalize.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter_verify.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .env.adr0024
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/lights/adaptive_light_groups.yaml
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-000x-template.md
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/library/docs/ADR/ADR-0015-symlink-policy-workspace.md
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/library/docs/ADR/ADR-0032-patch-operation-workflow.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0003-tier-definitions.md
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/library/docs/ADR/ADR-0005-entity-sensor-logic-signal.md
  hestia/library/docs/ADR/ADR-000x-template.md
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  requirements-ssh.txt
  requirements.txt
Due: hestia-adr-lint, deny-offer-lines
