Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/meta_capture/requirements_meta_capture.txt
  hestia/library/docs/architecture/meta_capture/sample_meta_capture_green.yaml
  hestia/tools/meta_capture/requirements.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/staging/sample_meta_capture_green.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/meta_capture/meta_capture.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml
  hestia/config/automation/sample_meta_capture_green.meta.yaml.bak.1760891333
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml
  hestia/tools/meta_capture/meta_capture.py
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/sample_meta_capture_green.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  zigbee2mqtt/configuration.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/meta_capture/meta_capture.py
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml.bak.1760893474
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/sample_meta_capture_green.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/hestia.toml
  hestia/tools/meta_capture/meta_capture.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml.wbak.20251019T171836Z
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/hestia.toml
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml.bak.1760895596
  hestia/config/automation/sample_meta_capture_green.meta.yaml.wbak.20251019T173742Z
  hestia/config/system/hestia.toml.bak
  hestia/tools/meta_capture/meta_capture.py
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/hestia.toml
  hestia/tools/meta_capture/meta_capture.py
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green.meta.yaml.wbak.20251019T181356Z
  hestia/config/system/hestia.toml
  hestia/config/system/hestia.toml.bak
  hestia/tools/meta_capture/meta_capture.py
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/patches/motion_occupancy_rewiring_20251019.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/motion_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/motion_logic.yaml
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/playbooks/ha_mount_installer.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/playbooks/20251019_playbook-ha-mount-installer.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .gitignore
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0022-hass-mount-keychain-creds-telemetry.md
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .gitignore
  hestia/config/system/hestia.toml
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md
  hestia/tools/meta_capture/meta_capture.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml
  domain/helpers/input_boolean.yaml
  packages/package_backup_config.yaml.bak-20251019
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml
  packages/package_system_health_monitoring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml
  packages/hestia/ha_mount_telemetry_webhook.yaml
  packages/motion_lighting_v2/adaptive_light_sleep_scheduler_automations.yaml
  packages/motion_lighting_v2/motion_light_automations.yaml
  packages/vacuum_control_v2/valetudo_default.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .gitignore
  domain/automations/ha_sysadmin.yaml
  hestia/config/system/cli.conf
  packages/package_ha_camera_privacy.yaml
  packages/package_influx_smoke.yaml
  packages/package_sonos_alarm.yaml
  packages/package_tailscale_diagnostics.yaml
Due: deny-offer-lines

release(meta-capture): v1.0.0 governed pipeline (broker auto-detect, pins, ruamel merges, limits, idempotency, APU evidence)
  bin/ci-meta-capture-enforce
Due: none

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
