Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/cache/snippets/adr-0021-compliance-fixes-summary.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/illuminance_logic.yaml
  domain/templates/motion_logic.yaml
  hestia/config/devices/sensors.json
  hestia/config/registry/room_registry.yaml
  hestia/library/prompts/catalog/by_domain/governance/prompt_20251008_4a2271_assistant-github-copilot-in-vs-code.md
  hestia/library/templates/devtools/adaptive-motion-lighting/proxy_audit.jinja2
  hestia/tools/lineage_guardian/config/snippets/hestia.toml.patch
  hestia/workspace/cache/snippets/lovelace/diagnostics.yaml
  packages/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/room_database/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  python_scripts/test_room_db_api.py
  scripts/monitor_appdaemon_startup.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/room_database/room_db_diag.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/devtools/adaptive-motion-lighting/room_db_diag.jinja2
  packages/room_database/room_db_diag.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/devtools/adaptive-motion-lighting/room_db_diag.jinja2
  packages/room_database/room_db_diag.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/occupancy_logic.yaml
  packages/room_database/room_db_diag.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/motion_lighting_v2/motion_light_templates.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  custom_templates/template.library.jinja.bak-20251018-034823
  custom_templates/template.library.jinja.bak-20251018-034823.sha256
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/devtools/adaptive-motion-lighting/room_db_diag.jinja2
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/hestia/ha_mount_telemetry_webhook.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/utils/mount/hass_mount_ops_runbook.sh
  hestia/tools/utils/mount/verify_hass_mount_telemetry.sh
  packages/hestia/ha_mount_telemetry_webhook.yaml
Due: deny-offer-lines

feat(mount-telemetry): stale-aware HA sensors + ADR-0024 alignment
  .ci-config/config
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ci-config/config
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/utils/mount/verify_hass_mount_telemetry.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/lovelace/entity_attributes.card.md
  hestia/library/ha_implementation/lovelace/image-1.png
  hestia/library/ha_implementation/lovelace/purifier.card.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/tools/utils/mount/verify_hass_mount_telemetry.sh
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/lovelace/custom_badge.custom_ui.md
  hestia/library/ha_implementation/lovelace/custom_card.custom_ui.md
  hestia/library/ha_implementation/lovelace/custom_card_feature.custom_ui.md
  hestia/library/ha_implementation/lovelace/custom_panel.custom_ui.md
  hestia/library/ha_implementation/lovelace/custom_view.custom_ui.md
  hestia/library/ha_implementation/lovelace/strategies.custom_ui.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/addon/communication.addon.md
  hestia/library/ha_implementation/addon/configuration.addon.md
  hestia/library/ha_implementation/addon/testing.addon.md
  hestia/library/ha_implementation/custom_ui/custom_badge.custom_ui.md
  hestia/library/ha_implementation/custom_ui/custom_card.custom_ui.md
  hestia/library/ha_implementation/custom_ui/custom_card_feature.custom_ui.md
  hestia/library/ha_implementation/custom_ui/custom_panel.custom_ui.md
  hestia/library/ha_implementation/custom_ui/custom_view.custom_ui.md
  hestia/library/ha_implementation/custom_ui/strategies.custom_ui.md
  hestia/tools/utils/mount/hass_telemetry.sh
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/custom_ui/custom_card.custom_ui.md
  hestia/library/ha_implementation/custom_ui/image-1.png
  hestia/library/ha_implementation/custom_ui/image.png
  hestia/library/ha_implementation/custom_ui/strategies.custom_ui.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/custom_ui/strategies.custom_ui.md
  hestia/tools/utils/mount/hass_telemetry.sh
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/diag/mobile-app/acceptance_test.sh
  hestia/tools/diag/mobile-app/generate_health_probe.sh
  hestia/tools/utils/mount/hass_mount_ops_runbook.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/diagnostics/glances.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/diagnostics/network_probes.yaml
  hestia/config/network/NETWORK_INDEX.md
  hestia/config/network/tailscale.toml
  hestia/config/network/tailscale_machines.schema.json
  hestia/config/network/tailscale_machines.topology.json
  hestia/tools/utils/audit/check_tailscale_consistency.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/ensuite_presence_inferred.yaml
  domain/templates/inferred_presence.yaml
  domain/templates/macbook_connectivity.yaml
  domain/templates/system_glances_macbook.yaml
  hestia/library/docs/playbooks/hass_automount.md
  hestia/tools/utils/audit/check_tailscale_consistency.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/diagnostics/alert_thresholds.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/appdaemon-room-db-debug.prompt.md
  .ha_run.lock
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/analyze_integration.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/cache/scratch/2025-10-18_workspace_file_categories.json
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/instructions/custom-jinja-templates.instructions.md
  .github/instructions/ha-domain-non-template.instructions.md
  .github/instructions/ha-domain-templates.instructions.md
  .github/instructions/ha-packages.instructions.md
  .github/instructions/shell-scripts.instructions.md
  hestia/workspace/cache/scratch/2025-10-18_workspace_categories.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/instructions/custom-jinja-templates.instructions.md
  .github/instructions/ha-domain-non-template.instructions.md
  .github/instructions/ha-domain-templates.instructions.md
  .github/instructions/ha-packages.instructions.md
  .github/instructions/shell-scripts.instructions.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/instructions/ha-domain-non-template.instructions.md
  .github/instructions/ha-packages.instructions.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/adaptive_lighting.yaml
  packages/room_database/room_db_diag.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
