Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: scripts/deny_offer_lines.sh
  language: script

fix: rename CI workflow examples to .yml.sample to avoid lint errors
  docs/ADR/deployment-bundle/MANIFEST.md
  docs/ADR/deployment-bundle/README.md
  docs/ADR/deployment-bundle/examples/ci-workflow-addition.yml.sample
Due: deny-offer-lines

fix: resolve CI failures with package discovery and yamllint config
  .github/workflows/metadata-validate.yml
  .yamllint.yml
  pyproject.toml
Due: deny-offer-lines

fix: resolve all remaining CI workflow failures
  .github/workflows/deny-offer-lines.yml
  .github/workflows/guardrails-rest-command.yml
  .github/workflows/rehydration-seed.yml
  hestia/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_no_symlinks.sh
  hestia/guardrails/check_recorder_uniqueness.sh
  hestia/guardrails/check_rest_command_guardrails.sh
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/tools/system/hestia_workspace_enforcer.sh
Due: hestia-adr-lint, deny-offer-lines

feat: add STRATEGOS HA-BB8 rehydration package and format guardrails
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/PATCH_ETIQUETTE.md
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/artifact_index.yaml
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/consolidated_rehydration.yaml
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/memory_vars.yaml
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/phases.yaml
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/rehydration_seed.yaml
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/session_recap.yaml
Due: deny-offer-lines

feat: format MQTT integration docs with YAML frontmatter and consistent markdown
  hestia/guardrails/check_duplicate_keys.py
  hestia/guardrails/check_unique_automation_ids.py
  hestia/guardrails/check_unique_unique_ids.py
  hestia/meta/rehydration/STRAT-HA-BB8-2025-09-03T06-50Z-001/consolidated_rehydration.yaml
  hestia/ops/ha_implementation/integration_mqtt.md
  hestia/tools/adr/verify_frontmatter.py
  hestia/tools/utils/legacy_backup_renamer.py
  hestia/tools/utils/reportkit/compact_index.py
  hestia/tools/utils/reportkit/link_latest.py
Due: deny-offer-lines

refactor: standardize formatting across HA implementation docs
  hestia/ops/ha_implementation/auth_providers.md
  hestia/ops/ha_implementation/restful_commands.md
  hestia/ops/ha_implementation/sensors-sql.md
Due: deny-offer-lines

refactor: complete MQTT integration doc formatting overhaul
  hestia/ops/ha_implementation/integration_mqtt.md
Due: deny-offer-lines

feat: implement ADR-0016 canonical HA mount with comprehensive path enforcement
  .github/workflows/ha-canonical-guard.yml
  .gitignore
  HA-Live.code-workspace
  README.md
  config-lean.code-workspace
  config-no-git.code-workspace
  config.code-workspace.bak.20250909160532
  hestia/core/devices/netgear.conf
  hestia/core/governance/system_instruction.yaml
  hestia/core/governance/system_instruction/v1.3.6/system_instruction.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction_dual_version.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction_v1.3.7.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction_v1.3.7_clean.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction_v1.3.7_gold.yaml
  hestia/core/governance/system_instruction/v1.3.7/system_instruction_v1.3.7_refactored.yaml
  hestia/core/governance/system_instruction/v2.0/system_instruction_v2.0-claude.yaml
  hestia/core/governance/system_instruction/v2.0/system_instruction_v2.0-final.yaml
  hestia/core/governance/system_instruction/v2.1/system_instruction_v.2.1.yaml
  hestia/core/governance/system_instruction/v2.2/system_instruction.yaml
  hestia/core/meta/gitdir-visible
  hestia/core/system/ha_config_implement_copilot.md
  hestia/deploy/dsm/scripts/add_root_route_and_check.sh
  hestia/deploy/dsm/scripts/hardened_worker_retry2.sh
  hestia/deploy/dsm/scripts/install_portal_include_synology.sh
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/ops/guides/ha_smb_mount.md
  hestia/ops/scripts/gen_secrets_example.py
  hestia/tools/one_shots/README_mount_setup.md
  hestia/tools/one_shots/com.local.hass.mount.plist
  hestia/tools/pipelines/apply_strategos/apply_strategos_00_env.sh
  hestia/tools/pipelines/apply_strategos/apply_strategos_03_apply_patches.sh
  hestia/tools/pipelines/apply_strategos/apply_strategos_pipeline.sh
  packages/package_oom_guard.local_pre_mount.yaml
  tests/test_rules.py
Due: hestia-adr-lint, deny-offer-lines

chore: add copilot instructions for Hestia workspace
  .github/copilot-instructions.md
  HA-Live.code-workspace
  hestia/core/architecture/ADR-0001-tts-yaml.md
  hestia/core/architecture/ADR-0002-jinja-patterns.md
  hestia/core/architecture/ADR-0003-tier-definitions.md
  hestia/core/architecture/ADR-0004-area-hierarchy.md
  hestia/core/architecture/ADR-0005-entity-sensor-logic-signal.md
  hestia/core/architecture/ADR-0006-decay-propagation.md
  hestia/core/architecture/ADR-0007-meta-governance-schema.md
  hestia/core/architecture/ADR-0008-normalization-and-determinism-rules.md.md
  hestia/core/architecture/ADR-0009-switch-modeling-and-validation.md
  hestia/core/architecture/ADR-000x-template.md
  hestia/core/architecture/ADR-0010-workspace-shape-and-autofs.md
  hestia/core/architecture/ADR-0011-oom-and-recorder-policy.md
  hestia/core/architecture/architecture_POA.md
  hestia/core/architecture/area_hierarchy.yaml
  hestia/core/architecture/hestia_structure.md
  hestia/core/architecture/tier_definitions.yaml
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/tools/utils/validators/adr_lint/.github/workflows/adr_lint.yml
  hestia/tools/utils/validators/adr_lint/.pre-commit-config.yaml
  hestia/tools/utils/validators/adr_lint/README.md
  hestia/tools/utils/validators/adr_lint/__init__.py
  hestia/tools/utils/validators/adr_lint/cli.py
  hestia/tools/utils/validators/adr_lint/pyproject.toml
  hestia/tools/utils/validators/adr_lint/report.py
  hestia/tools/utils/validators/adr_lint/rules.py
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/__init__.py
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/cli.py
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/config.py
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/report.py
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/rules.py
  hestia/tools/utils/validators/adr_lint/tests/test_rules.py
  hestia/tools/utils/validators/scan_hardcoded_ha.sh
  tests/test_rules.py
Due: hestia-adr-lint, deny-offer-lines

chore: tidy workspace changes after add copilot instructions
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/templates/autofs/auto_ha.smb
  hestia/templates/autofs/auto_master.hestia.snippet
  hestia/tools/utils/validators/adr_lint/tests/test_rules.py
  tests/test_rules.py
  workspace_ops_export.yaml
Due: hestia-adr-lint, deny-offer-lines

fix: Implement hades index validator patch for four-pillar architecture
  .env.sample
  .github/copilot-instructions.md
  .github/workflows/adr_lint.yml
  .pre-commit-config.yaml
  README.md
  configuration.yaml
  hestia/config/index/manifest.yaml
  hestia/config/system/hestia_workspace.conf
  hestia/tools/utils/validators/adr_lint/tests/test_rules.py
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/adr-0012-addendum-patch.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/complete-structure.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/deleted-files-list.txt
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/duplicate-analysis.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/hades-validator-analysis.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/hades-validator-implementation-guide.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/hades-validator-patch-plan.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/hades_index_validator_fixed.py
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/test-merge-summary.md
  hestia/workspace/cache/staging/Filtered_Post-Migration_Action_Table.csv
  hestia/workspace/cache/staging/Post-Migration_YAML_Audit.csv
  hestia/workspace/cache/staging/package_global_presence.yaml
  hestia/workspace/cache/staging/package_morning_sequence.yaml
  hestia/workspace/cache/staging/presence_presence_confidence.yaml
  hestia/workspace/cache/staging/presence_presence_decay_inferred_occupancy_decay.yaml
  hestia/workspace/cache/staging/presence_presence_decay_motion_decay.yaml
  hestia/workspace/cache/staging/presence_presence_decay_occupancy_decay.yaml
  hestia/workspace/cache/staging/prompt.library_consolidation.md
  hestia/workspace/cache/staging/registry_sensors.yaml
  hestia/workspace/cache/staging/subsystem_readiness.yaml
  hestia/workspace/cache/staging/sunrise_alarm.yaml
  hestia/workspace/cache/staging/system_error_decay.yaml
  hestia/workspace/cache/staging/system_maintenance_routines.yaml
  hestia/workspace/operations/guardrails/deny_offer_lines.sh
  tests/test_rules.py
Due: deny-offer-lines

security: Implement PII protection for .conf files
  .gitignore
  Makefile
  hestia/config/devices/README.md
  hestia/config/devices/broadlink.conf
  hestia/config/devices/devices.conf
  hestia/config/devices/hifi.conf
  hestia/config/devices/lighting.conf
  hestia/config/devices/lights.conf
  hestia/config/devices/localtuya.conf
  hestia/config/devices/media.conf
  hestia/config/devices/motion.conf
  hestia/config/devices/nas.conf
  hestia/config/devices/netgear-update.conf
  hestia/config/devices/netgear.conf
  hestia/config/devices/valetudo.conf
  hestia/config/network/README.md
  hestia/config/network/cloudflare.conf
  hestia/config/network/nas.conf
  hestia/config/network/netgear.conf
  hestia/config/network/network.conf
  hestia/config/preview/README.md
  hestia/config/preview/smb.conf
  hestia/config/system/README.md
  hestia/config/system/cli.conf
  hestia/config/system/relationships.conf
  hestia/config/system/transient_state.conf
  hestia/tools/utils/validators/hades_index_validator.py
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/hades_index_validator_fixed.py
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/pii-protection-report.md
  hestia/workspace/cache/out/workspace-reorg-v1/2025-09-30/vscode-workspace-updates.md
  requirements-dev.txt
Due: deny-offer-lines

fix: Improve Makefile virtual environment handling
  Makefile
  requirements-dev.txt
Due: deny-offer-lines

feat: add GitHub Actions workflow for HA restoration deployment
  .github/workflows/ha-restoration.yml
  .gitignore
  domain/helpers/input_select.yaml
  domain/lights/bedroom_lights.yaml
  hestia/library/docs/ADR/area_hierarchy.yaml
  hestia/library/docs/playbooks/ha_stabilize_state_triage.md
  packages/package_sonos_alarm.yaml
Due: deny-offer-lines

feat: add complete Home Assistant restoration bundle v2.0
  .gitignore
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/BUNDLE_MANIFEST.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/CANONICAL_README.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/CRITICAL_FIXES_IMPLEMENTATION_SUMMARY.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/CRITICAL_REVIEW_RESTORATION_PLAN.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/FINAL_COMPLETE_RESTORATION_SUMMARY.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/FINAL_EXPERT_APPROVAL.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/PRODUCTION_CERTIFICATION.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/README.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/STRATEGOS_MISSION_COMPLETE.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/backup_source_info.txt
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/backup_vs_live_registry_analysis.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/complete_backup_storage_analysis.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/core.area_registry.enhanced
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/core.floor_registry.enhanced
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/deploy_complete_restoration.sh
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/helper_registries_comparison_analysis.md
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/home_assistant_complete_restoration_v2.0_FINAL_APPROVED.tar.gz
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/validate_bundle.sh
  home_assistant_complete_restoration_v2.0_FINAL_APPROVED.tar.gz
Due: deny-offer-lines

fix(workflow): ensure GitHub Actions checks out latest main with restoration bundle
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix(workflow): resolve permission denied issues in HA restoration
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix(workflow): replace failing scp with rsync for bundle upload
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix(restoration): handle missing .storage directory gracefully in dry-run
  .github/workflows/ha-restoration.yml
  .gitignore
  hestia/home_assistant_complete_restoration_v2.0_FINAL_APPROVED.tar.gz
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/core.area_registry.enhanced
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/core.floor_registry.enhanced
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/deploy_complete_restoration.sh
Due: deny-offer-lines

fix(workflow): resolve bash syntax error in dry-run step
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

feat(workflow): enhance dry-run execution with timeout and better exit handling
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

feat: Add safe restoration patch - skip entity registry by default
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

feat: Add v2.1 SAFE bundle with registry skip functionality
  home_assistant_complete_restoration_v2.1_SAFE.tar.gz
Due: none

fix: Update v2.1 SAFE bundle with correct skip-registry script
  home_assistant_complete_restoration_v2.1_SAFE.tar.gz
Due: none

fix: Make workflow resilient to supervisor API auth issues
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix: Production deployment resilience - fix SSH add-on permission issues
  .github/workflows/ha-restoration.yml
  hestia/workspace/operations/guides/ha_implementation/addon.mariadb.md
  hestia/workspace/operations/guides/ha_implementation/addon.mariadb_grant.md
  hestia/workspace/operations/guides/ha_implementation/addon.samba.md
  hestia/workspace/operations/guides/ha_implementation/addon.ssh_terminal.md
  hestia/workspace/operations/guides/ha_implementation/integration.auth_providers.md
  hestia/workspace/operations/guides/ha_implementation/integration.mqtt.md
  hestia/workspace/operations/guides/ha_implementation/integration.recorder.md
  hestia/workspace/operations/guides/ha_implementation/integration.restful_commands.md
  hestia/workspace/operations/guides/ha_implementation/integration.sensor-sql.md
  home_assistant_complete_restoration_v2.1_SAFE.tar.gz
  home_assistant_complete_restoration_v2.2_PRODUCTION.tar.gz
Due: deny-offer-lines

fix: Bundle v2.3 FINAL - ensure script /tmp fix is properly packaged
  .github/workflows/ha-restoration.yml
  home_assistant_complete_restoration_v2.2_PRODUCTION.tar.gz
  home_assistant_complete_restoration_v2.3_FINAL.tar.gz
Due: deny-offer-lines

fix: Production restoration v2.4 - comprehensive SSH add-on compatibility
  .github/workflows/ha-restoration.yml
  home_assistant_complete_restoration_v2.4_PRODUCTION.tar.gz
  tmp/restoration_bundle_v2.0/deploy_complete_restoration.sh
Due: deny-offer-lines

fix: Bundle v2.5 - CI non-interactive mode support
  .github/workflows/ha-restoration.yml
  home_assistant_complete_restoration_v2.5_PRODUCTION.tar.gz
Due: deny-offer-lines

fix: Ensure CI=true environment variable is set in GitHub Actions
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix: Remove unsupported --skip-registry flag from workflow
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix: Complete /tmp migration - remove remaining /config/tmp reference
  home_assistant_complete_restoration_v2.6_PRODUCTION.tar.gz
Due: none

fix(workflow): simplify ha-restoration to single deploy job
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix(workflow): correct bundle extraction - rename instead of move contents
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

docs: Add workflow v2.6 deployment success documentation
  WORKFLOW_V2.6_DEPLOYMENT_SUCCESS.md
Due: deny-offer-lines

fix(v2.6): infra-only soft-success when .storage missing
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/deploy_complete_restoration.sh
  home_assistant_complete_restoration_v2.6_PRODUCTION.tar.gz
Due: none

Path conditions:
  hestia-adr-lint: any of: ^hestia/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
