Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/.locks/meta_capture.lock
  packages/integrations/homeassistant.yaml
  packages/package_netgear_gs724t.yaml
  packages/package_oom_guard.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  customize.yaml
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  packages/integrations/homeassistant.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  configuration.yaml
  domain/core/customize.yaml
  domain/core/customize_glob.yaml
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/secret_probe.yaml
  packages/integrations/homeassistant.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  configuration.yaml
  domain/core/customize_glob.yaml
  packages/integrations/homeassistant.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  configuration.yaml
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/cache/out/motion_occupancy_rewiring_20251019.md
  hestia/workspace/staging/sample_meta_capture_green.yaml
  packages/integrations/homeassistant.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/cache/out/0001-trash-collector.md
  hestia/workspace/cache/out/0002-ADR-0019-addendum.md
  hestia/workspace/cache/out/prompts-consolidation/TOOL_VALIDATION_REPORT.md
  hestia/workspace/cache/out/prompts-consolidation/prompt.library_consolidation.md
  hestia/workspace/cache/out/prompts-consolidation/prompt.library_consolidation_implementation.md
  hestia/workspace/cache/out/prompts-consolidation/prompt.library_consolidation_v2.md
  hestia/workspace/cache/out/prompts-consolidation/prompt.library_consolidation_validation.md
  hestia/workspace/cache/out/prompts-consolidation/prompts.library_consolidaiton_initiatives_checklist.md
  hestia/workspace/operations/deprecation_notice/HACS_VARIABLE_RETIREMENT.md
  hestia/workspace/operations/deprecation_notice/MIGRATION_TTS_GATE.md
  hestia/workspace/operations/deprecation_notice/deprecation_package_presence_activity.md
  packages/package_tts_gate_native.yaml
  packages/package_universal_media.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0022-hass-mount-keychain-creds-telemetry.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/storage/storage.conf
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/sample_meta_capture_green__tmp.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/storage/storage.conf
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/workspace/staging/20251020T035000Z-macbook_mount-copilot.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/20251020T040000Z-macos_mount-strategos.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green__tmp.meta.yaml
  hestia/config/automation/sample_meta_capture_green__tmp.meta.yaml.wbak.20251020T043100Z
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  configuration.yaml
  domain/automations/ha_sysadmin.yaml
  domain/core/customize.yaml
  domain/core/customize_glob.yaml
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/secret_probe.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  hestia/workspace/staging/orange_shape_example.yaml
  packages/motion_lighting_v2/adaptive_light_sleep_scheduler_automations.yaml
  packages/package_ha_camera_privacy.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  packages/room_database/room_db_diag.yaml
  packages/room_database/room_db_diag.yaml.bak-20251020-051000
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/occupancy_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .gitignore
  hestia/tools/meta_capture/examples/README.md
  hestia/tools/meta_capture/examples/orange_shape_example.yaml
Due: deny-offer-lines

docs(meta-capture): add operator-only ORANGE example; keep CI focused on GREEN/RED
  .ci-config/config
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ci-config/config
  hestia/library/docs/ADR/ADR-0030-macos-workflows.md
  template.library.jinja
Due: hestia-adr-lint, deny-offer-lines

docs(meta-capture): add canonical green example (operator education)
  hestia/library/docs/ADR/ADR-0030-macos-workflows.md
  hestia/tools/meta_capture/examples/green_sample.yaml
  packages/plex_tts/validation_test_suite.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/library/docs/architecture/media_registry_integration_guide.md
  packages/media_registry/media_registry_diag.yaml
  packages/media_registry/package_plex.yaml
  packages/media_registry/package_tts_gate.yaml
  packages/media_registry/plex_roomdb_scripts.yaml
  packages/media_registry/recorder_exclusions.yaml
  packages/media_registry/shared_media_registry.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/package_tts_gate.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/mr_diag.yaml
  packages/media_registry/mr_plex.yaml
  packages/media_registry/mr_src.yaml
  packages/media_registry/mr_tts.yaml
  packages/media_registry/plex_roomdb_scripts.yaml
  packages/media_registry/recorder_exclusions.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/WIP-ADR-0000-template_derived_sensor_provenance.md
  hestia/library/docs/architecture/WIP-ADR-0001-patch_request_methodology.md
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  packages/integrations/recorder.yaml
  packages/media_registry/mr_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/package_plex_variable_migration.yaml
  packages/media_registry/package_tts_gate_native.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/automation/sample_meta_capture_green__tmp.meta.yaml
  hestia/config/automation/sample_meta_capture_green__tmp.meta.yaml.wbak.20251020T055924Z
  hestia/workspace/.hestia/index/meta_capture__index.jsonl
  packages/media_registry/mr_src.yaml
  packages/media_registry/package_plex_variable_retiring.yaml
  packages/media_registry/package_tts_gate_retiring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/mr_src.yaml
  packages/media_registry/mr_tts.yaml
  packages/media_registry/package_plex_variable_retiring.yaml.bak-20251020
  packages/media_registry/package_tts_gate_retiring.yaml.bak-20251020
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  automations.yaml
  domain/automations/ha_sysadmin.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/meta_capture/Makefile
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/mr_plex.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/media_registry/mr_diag.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/recorder.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  CHANGELOG.md
  PR_BODY_meta-capture-v1.0.0.md
  automations.yaml
  packages/package_influx_smoke.yaml
Due: deny-offer-lines

chore(meta-capture): changelog + PR body + acceptance record; add Makefile helpers
  hestia/reports/2025-10-20/meta_capture__20251020T074025Z__acceptance.json
Due: none

fix(room-db): unify rest_command block, switch config_domain->domain, remove duplicate entries
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/reports/2025-10-20/meta_capture__20251020T074025Z__acceptance.json
Due: none

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
