Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_plant_monitoring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_backup_config.yaml
  packages/package_startup_optimization.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_system_health_monitoring.yaml.bak
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_system_health_monitoring.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/lights/adaptive_light_groups.yaml
  packages/integrations/adaptive_lighting.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
  packages/motion_lighting_v2/motion_light_automations.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
  .ha_run.lock
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  copilot_diagnostic_collector.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/active/utilities/draft_template.promptset
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
  .vscode/hass-live.code-workspace
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .gitignore
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/error_patterns.yml
  hestia/library/prompts/active/utilities/draft_template.promptset
  hestia/library/prompts/active/utilities/example_promptset.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/copilot-instructions.md
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md
  hestia/library/error_patterns.yml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/utils/validators/scan_hardcoded_ha.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
  hestia/library/prompts/context/conversations/68ee5be8-03ec-8331-8d66-a46709fd12b1.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/governance/system_instruction.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/migration/incoming/copilot_integrity_diagnostics.promptset
  hestia/library/prompts/migration/incoming/diagnostics.copilot.config_check.v1
  hestia/library/prompts/migration/incoming/diagnostics.copilot.write_integrity.v1
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/migration/incoming/copilot_integrity_diagnostics.promptset
  hestia/library/prompts/migration/incoming/diagnostics.copilot.config_check.v1.prompt
  hestia/library/prompts/migration/incoming/diagnostics.copilot.write_integrity.v1.prompt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/migration/prompt_validation_log.json
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/prompt_schema.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/prompt_library_workflow.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/promptset_docs.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/promptset_schema.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/README.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/promptset_docs.md
  hestia/library/prompts/INFRASTRUCTURE_SUMMARY.md
  hestia/library/prompts/_meta/README.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/migration/README.md
  hestia/library/prompts/prompt_library_workflow.yaml
  hestia/workspace/todo/prompts-consolidation/prompt.library_consolidation_v2.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/active/utilities/draft_template.promptset
  hestia/library/prompts/migration/incoming/copilot_integrity_diagnostics.promptset
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/library/docs/governance/system_instruction.yaml
  hestia/library/prompts/_meta/draft_template.promptset
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/active/utilities/draft_template.promptset
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/draft_template.promptset
  hestia/library/prompts/_meta/prompt_20250905_6ca295_future-facing-promptset-template-draft.md
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/active/diagnostics/prompt_20250906_08abb7_meta-capture.md
  hestia/library/prompts/active/diagnostics/prompt_20250916_f2cc56_ha-log-analysis.md
  hestia/library/prompts/active/utilities/draft_template.promptset
  hestia/library/prompts/catalog/by_domain/operational/prompt_20250906_08abb7_meta-capture.md
  hestia/library/prompts/catalog/by_domain/operational/prompt_20250916_f2cc56_ha-log-analysis.md
  hestia/library/prompts/migration/incoming/copilot_integrity_diagnostics.promptset
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/promptset_docs.md
  hestia/library/prompts/_meta/draft_template.promptset
  hestia/library/prompts/_meta/prompt_20250905_6ca295_future-facing-promptset-template-draft.md
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/active/diagnostics/prompt_20250906_08abb7_meta-capture.md
  hestia/library/prompts/active/diagnostics/prompt_20250916_f2cc56_ha-log-analysis.md
  hestia/library/prompts/active/utilities/draft_template.promptset
  hestia/library/prompts/catalog/by_domain/operational/prompt_20250906_08abb7_meta-capture.md
  hestia/library/prompts/catalog/by_domain/operational/prompt_20250916_f2cc56_ha-log-analysis.md
  hestia/library/prompts/catalog/by_domain/operational/prompt_20251003_08230c_home-assistant-configuration-diagnostician-prompts.md
  hestia/library/prompts/migration/incoming/copilot_integrity_diagnostics.promptset
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/_meta/prompt_schema.md
  hestia/library/prompts/catalog/by_domain/extraction/prompt_20251001_5acafb_you-are-the-hestia-sensor-mapper.md
Due: deny-offer-lines

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
