Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/active/diagnostics/prompt_20251003_08230c_home-assistant-configuration-diagnostician-prompts.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/home-assistant-configuration-diagnostician.prompt.md
  hestia/library/prompts/active/diagnostics/prompt_20251003_08230c_home-assistant-configuration-diagnostician-prompts.md
  hestia/workspace/staging/20251020T080000Z-macos_mount-strategos.yaml
Due: deny-offer-lines

docs(prompts): VS Code prompt for HA Configuration Diagnostician (v2.5), with verified paths and ADR guardrails
  .github/prompts/home-assistant-configuration-diagnostician.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/home-assistant-configuration-diagnostician.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/cli.conf
  hestia/tools/ha_diagnostics/README.md
  hestia/tools/ha_diagnostics/requirements.txt
  hestia/tools/ha_diagnostics/run_diagnostics.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/ha_diagnostics/run_diagnostics.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/context/meta/copilot_meta_20251020T090405Z.json
Due: none

feat(ha-diagnostics): add Run Diagnostics tool (triage/analysis/remediation/documentation) + CLI wiring; TOML-first outputs
  hestia/tools/ha_diagnostics/run_diagnostics.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/document-changes.prompt.md
  hestia/tools/ha_diagnostics/README.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .github/prompts/document-changes.prompt.md
Due: deny-offer-lines

templates: remove duplicate root template.library.jinja; canonical lives in custom_templates/
  template.library.jinja
Due: none

docs(maintenance): append 2025-10-20 session — release, Room‑DB cleanup, diagnostics tooling, and docs updates
  hestia/config/system/maintenance_log.conf
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  template.library.jinja
Due: none

merge: resolve conflicts with main — keep ha_diagnostics CLI, unify Room‑DB rest_command and domain key, retain diagnostician prompt v2.5
  hestia/config/system/cli.conf
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

Feature/valetudo optimization v2 (#10)
  .github/prompts/document-changes.prompt.md
  .github/prompts/home-assistant-configuration-diagnostician.prompt.md
  hestia/config/system/cli.conf
  hestia/config/system/maintenance_log.conf
  hestia/library/context/meta/copilot_meta_20251020T090405Z.json
  hestia/library/prompts/active/diagnostics/prompt_20251003_08230c_home-assistant-configuration-diagnostician-prompts.md
  hestia/tools/ha_diagnostics/README.md
  hestia/tools/ha_diagnostics/requirements.txt
  hestia/tools/ha_diagnostics/run_diagnostics.py
  hestia/workspace/staging/20251020T080000Z-macos_mount-strategos.yaml
  packages/hestia/ha_mount_telemetry_webhook.yaml
  packages/room_database/room_db_src.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/cli.conf
Due: none

ops: add resilient validation wrappers and CLI wiring (ADR-0024/ADR-0015)
  template.library.jinja
Due: none

fix(ADR-0015): remove tracked symlink template.library.jinja at repo root; canonical lives under custom_templates/
  template.library.jinja
Due: none

chore: ensure root symlink fully removed from index and tree
  template.library.jinja
Due: none

ops: finalize validation wrappers with runtime-focused ADR-0024 linter
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0030-macos-workflows.md
Due: hestia-adr-lint, deny-offer-lines

ops(ADR-0015): remove tracked symlink template.library.jinja (duplicate; canonical kept)
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0001-tts-yaml.md
  hestia/library/docs/ADR/ADR-0002-jinja-patterns.md
  hestia/library/docs/ADR/ADR-0003-tier-definitions.md
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/library/docs/ADR/ADR-0006-decay-propagation.md
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/library/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/library/docs/ADR/ADR-000x-template.md
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/library/docs/ADR/ADR-0021-motion-occupancy-presence-signals.md
  hestia/library/docs/ADR/ADR-0022-hass-mount-keychain-creds-telemetry.md
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md
  hestia/library/docs/ADR/ADR-0028-appdaemon-room-db-sql-migration.md
  hestia/library/docs/ADR/ADR-0029-ops-mount-telemetry-under-canonical-config.md
  hestia/library/docs/ADR/deprecated/ADR-0010-workspace-shape-and-autofs.md
  hestia/library/docs/historical/ha_smb_mount.md
  hestia/library/docs/playbooks/hass_automount.md
  template.library.jinja
Due: hestia-adr-lint, deny-offer-lines

clean: remove symlink deletion from index
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  template.library.jinja
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
Due: hestia-adr-lint, deny-offer-lines

ops(ADR-0015): drop tracked symlink template.library.jinja (duplicate; canonical kept)
  hestia/library/docs/ADR/ADR-0031-hestia-architectural-doctrine.md
  template.library.jinja
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/glances_bridge/glances_bridge.py
  template.library.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/glances_bridge/glances_bridge.py
Due: none

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
