Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: hestia-adr-lint
        name: hestia-adr-lint
        entry: hestia-adr-lint --format human
        language: system
        files: ^hestia/library/docs/ADR/.*\.md$
        exclude: ^(docs/playbooks|docs/runbooks)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, colored, -s]

  - repo: local
    hooks:
      - id: validate-metadata
        name: Validate HESTIA metadata
        entry: .venv/bin/python hestia/tools/validate_metadata.py
        language: system
        pass_filenames: false
      - id: hestia-workspace-enforcer
        name: Hestia Workspace Enforcer
        entry: hestia/tools/system/hestia_workspace_enforcer.sh
        language: script
        types: [yaml, sh, py, txt]
        pass_filenames: false

  - repo: local
    hooks:
      - id: deny-offer-lines
        name: deny-offer-lines
        entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
        language: script
        files: "\\.(md|markdown|txt|yml|yaml)$"

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  automations.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/lights/adaptive_light_groups.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_room_database.yaml
  packages/package_room_database.yaml.bk
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/by_domain/governance/prompt_20251008_4a2271_assistant-github-copilot-in-vs-code.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/HA-Live-Multi-Folder.code-workspace
  .vscode/HA-Live-Single-Folder.code-workspace
  .vscode/hass-live.code-workspace
  .vscode/hass-synth.code-workspace
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_room_database.yaml.bk
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/templates/motion_logic.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/adaptive_lighting.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/adaptive_lighting.yaml
  packages/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/sql/sql_litedb.yaml
  domain/sql/sql_mariadb.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/motion_lighting_v2/motion_light_automations.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/sql/sql_litedb.yaml
  packages/integrations/adaptive_lighting.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/sensors/rest_glances.yaml.bak
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_tts_gate_native.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .vscode/hass-live.code-workspace
  packages/plex_variable_migration.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_room_database.yaml.bak
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/integrations/shell_command.yaml
  packages/package_room_database.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  test_broker.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  test_broker.txt
  test_broker.txt.wbak.20251012T074103Z
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md
  test_broker.txt
  test_broker.txt.wbak.20251012T074103Z
Due: hestia-adr-lint, deny-offer-lines

patch: update ADR-0027 requirements section
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080101Z
  test_broker.txt
  test_broker.txt.wbak.20251012T074103Z
Due: deny-offer-lines

patch: update ADR-0027 produces section for SHA-256
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080128Z
Due: none

patch: update ADR-0027 git pre-commit description
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080219Z
Due: none

patch: update ADR-0027 core features for enhanced reliability
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080310Z
Due: none

patch: update ADR-0027 path validation logic for strict canonical enforcement
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080327Z
Due: none

fix: update Hestia Trash automation to use notify_engine
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080438Z
Due: none

fix: update Hestia Tmp Weekly Prune automation to use notify_engine
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080454Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080101Z
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080128Z
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080219Z
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080310Z
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.wbak.20251012T080327Z
  test_broker.txt
  test_broker.txt.wbak.20251012T074103Z
Due: deny-offer-lines

fix: replace remaining hardcoded notification in Trash automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080525Z
Due: none

fix: replace final hardcoded notification in Trash threshold automation
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080606Z
Due: none

fix: replace service with action for notification call
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080630Z
Due: none

fix: update notification data structure to use notify_engine parameters
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080648Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080438Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080454Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080525Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080606Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080630Z
  domain/automations/ha_sysadmin.yaml.wbak.20251012T080648Z
Due: none
