Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: hestia-adr-lint
        name: hestia-adr-lint
        entry: hestia-adr-lint --format human
        language: system
        files: ^hestia/docs/ADR/.*\.md$
        exclude: ^(docs/playbooks|docs/runbooks)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, colored, -s]

  - repo: local
    hooks:
      - id: validate-metadata
        name: Validate HESTIA metadata
        entry: .venv/bin/python hestia/tools/validate_metadata.py
        language: system
        pass_filenames: false
      - id: hestia-workspace-enforcer
        name: Hestia Workspace Enforcer
        entry: hestia/tools/system/hestia_workspace_enforcer.sh
        language: script
        types: [yaml, sh, py, txt]
        pass_filenames: false

  - repo: local
    hooks:
      - id: deny-offer-lines
        name: deny-offer-lines
        entry: scripts/deny_offer_lines.sh
        language: script
        files: "\\.(md|markdown|txt|yml|yaml)$"

chore(repo): drop stray .git.backup pointer and ignore future ones
  .git.backup-20250924-161415
Due: none

ADR-0024 hygiene: ignore backups/bundles; untrack legacy Dockerfile.bak; enforce _backups whitelist (inventory + snapshot only); no content deletions
  Dockerfile.bak
Due: none

restore: apply staged set from 20250926T173930Z (receipt 20250927T145950Z)
  _backups/inventory/restore_receipts/receipt_20250927T145950Z.txt
Due: deny-offer-lines

restore: noop receipt (staging identical to workspace)
  _backups/inventory/restore_receipts/receipt_20250927T154715Z.txt
Due: deny-offer-lines

repo hygiene (ADR-0024): reshelve inventories to _backups/, keep restore artefacts untracked, stage ADR/docs/tools only
  .gitignore
  addon/tools/__init__.py
  addon/tools/bb8_bletest_diag.sh
  addon/tools/ble_test_diag.sh
  addon/tools/bleep_run.py
  addon/tools/coverage_gate.py
  addon/tools/test_ble_adapter.py
  docs/ADR/ADR-0001-workspace-topology.md
  docs/ADR/ADR-0002-dependency-policy.md
  docs/ADR/ADR-0003-addon-local-build-patterns.md
  docs/ADR/ADR-0004-runtime-tools-policy.md
  docs/ADR/ADR-0005-development-setup.md
  docs/ADR/ADR-0006-helpers-migration.md
  docs/ADR/ADR-0007-restore-addon.md
  docs/ADR/ADR-0008-end-to-end-flow.md
  docs/ADR/ADR-0009-adr-governance-formatting.md
  docs/ADR/ADR-0010-unified-supervision-and-diag.md
  docs/ADR/ADR-0011-supervisor-only-ops.md
  docs/ADR/ADR-0012-repo-layout-and-imports.md
  docs/ADR/ADR-0013-keep-addon-app.md
  docs/ADR/ADR-0014-canonical-project-setup.md
  docs/ADR/ADR-0015-snapshot-and-inventory-policy.md
  docs/ADR/ADR-0016-coverage-and-seam-policy.md
  docs/ADR/ADR-0017-branch-rescue-protocol.md
  docs/ADR/ADR-0018-mass-deletion-guard.md
  docs/ADR/ADR-0019-workspace-folder-taxonomy.md
  docs/ADR/ADR-0020-motion-safety-and-mqtt-contract.md
  docs/ADR/ADR-0021-patch-etiquette.md
  docs/ADR/ADR-0022-protocol-enforcement.md
  docs/ADR/ADR-0023-guardrails-mass-deletion.md
  docs/ADR/ADR-template.md
  docs/meta/e-app-404: Please scan the workspace.md
  docs/meta/ha_mqtt_configuration_info.md
  docs/meta/workspace_remediation_plan.md
  ops/evidence/STP4/collect_stp4.py
Due: deny-offer-lines

repo hygiene: portable meta filename; corral manifests to _backups/inventory; tighten ignores; untrack coverage/test artefacts; move legacy conflict snapshots
  .gitignore
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/Dockerfile.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/ble_link.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/bridge_controller.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/discovery_migrate.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/facade.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/mqtt_dispatcher.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/mqtt_probe.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/telemetry.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/bb8_core/version_probe.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/config.yaml.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/requirements-dev.txt.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/run.sh.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/services.d/ble_bridge/run.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/conftest.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_ble_link.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_facade_attach_mqtt.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_mqtt_dispatcher.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_mqtt_echo.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_mqtt_smoke.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_scanner_discovery_seam_direct.py.root
  _backups/legacy_bundles/20250927T164620Z/_migrated_conflicts_20250830_170921Z/tests/test_types_import.py.root
  addon/.github/workflows/adr-structure-addon.yml
  coverage.json
  docs/addon_legacy/CHANGELOG_legacy.md
  docs/legacy/CHANGELOG_legacy.md
  docs/legacy/ha_mqtt_configuration_info.md
  docs/meta/e-app-404__please_scan_the_workspace.md
  manifest_20250915_171039.txt
  manifest_20250915_173016.txt
  manifest_20250915_173024.txt
  manifest_20250915_173032.txt
  manifest_20250915_173037.txt
  manifest_20250915_180814.txt
  pytest-report.xml
  tree_20250915_173016.txt
  tree_20250915_173024.txt
  tree_20250915_173032.txt
  tree_20250915_173037.txt
  tree_20250915_180814.txt
Due: deny-offer-lines

ADR-0024: re-include _backups/inventory and snapshot marker; add .mypy_cache/ and .idea/
  .gitignore
Due: none

hygiene: remove duplicate root manifests (kept under _backups/inventory); add 'make quiet'
  manifest_20250915_171039.txt
  manifest_20250915_173016.txt
  manifest_20250915_173024.txt
  manifest_20250915_173032.txt
  manifest_20250915_173037.txt
  manifest_20250915_180814.txt
  tree_20250915_173016.txt
  tree_20250915_173024.txt
  tree_20250915_173032.txt
  tree_20250915_173037.txt
  tree_20250915_180814.txt
Due: deny-offer-lines

ci: hygiene-gate runs workspace quiet check and bans tracked archives (#8)
  .github/workflows/hygiene-gate.yml
Due: deny-offer-lines

chore: trigger hygiene gate (smoke) (#9)
  .hygiene_smoke
Due: none

Chore/hygiene gate run on main (#10)
  .github/workflows/hygiene-gate.yml
Due: deny-offer-lines

ci: fix hygiene-gate (restore name, triggers, and jobs) (#11)
  .github/workflows/hygiene-gate.yml
Due: deny-offer-lines

chore: hygiene smoke PR to surface 'hygiene-gate / gate' (#12)
  .hygiene_smoke
Due: none

build(ADR-0014): add addon/Makefile forwarder
  addon/Makefile
Due: none

docs(ADR): add ADR-0024 workspace hygiene with repo-specific overrides
  docs/ADR/ADR-0024-workspace-hygiene-bb8-addon.md
  docs/ADR/ADR-0026-backups-inventory-and-retention.md
  docs/ADR/ADR-0028-remotes-and-mirror-cutover-policy.md
  docs/ADR/INDEX.md
Due: deny-offer-lines

docs(ADR): add missing ADR-0025, ADR-0027, ADR-0029
  docs/ADR/ADR-0025-canonical-repo-layout-bb8-addon.md
  docs/ADR/ADR-0027-hygiene-gate-and-status-checks.md
  docs/ADR/ADR-0029-restore-staging-and-receipts.md
Due: deny-offer-lines

cleanup: complete migration of remaining legacy root content to addon/
  addon/app/bb8_bletest_diag.sh
  addon/app/ble_test_diag.sh
  addon/app/test_ble_adapter.py
  addon/services.d/ble_bridge/run
  addon/services.d/echo_responder/down
  addon/services.d/echo_responder/log
  addon/services.d/echo_responder/run
  addon/tests/__init__.py
  addon/tests/conftest.py
  addon/tests/pytest.ini
  addon/tests/test_ble_event_loop.py
  addon/tests/test_ble_link.py
  addon/tests/test_discovery_publisher.py
  addon/tests/test_echo_responder.py
  addon/tests/test_echo_responder_service.py
  addon/tests/test_facade.py
  addon/tests/test_facade_attach_mqtt.py
  addon/tests/test_import_order_warning.py
  addon/tests/test_imports_no_cycles.py
  addon/tests/test_logging_fallback.py
  addon/tests/test_mqtt_core.py
  addon/tests/test_mqtt_discovery.py
  addon/tests/test_mqtt_dispatcher.py
  addon/tests/test_mqtt_echo.py
  addon/tests/test_mqtt_smoke.py
  addon/tests/test_scanner_discovery_seam_direct.py
  addon/tests/test_scanner_discovery_seam_hook.py
  addon/tests/test_smoke_controller_facade.py
  addon/tests/test_telemetry.py
  addon/tests/test_types_import.py
  addon/tests/test_warning_monitor.py
  tests/.gitkeep
  tools/.gitkeep
Due: none

hygiene: ignore accidental .git.DISABLED pack dir
  .gitignore
Due: none

ADR housekeeping: canonicalize structure, normalize status values, deduplicate ADR-0018
  hestia/docs/ADR/ADR-0001-tts-yaml.md
  hestia/docs/ADR/ADR-0002-jinja-patterns.md
  hestia/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/docs/ADR/archive/ADR-0018-workspace-lifecycle-policy-draft-archived.md
Due: hestia-adr-lint, deny-offer-lines

ADR cleanup: normalize status values, canonicalize author fields, complete front-matter
  hestia/docs/ADR/ADR-0003-tier-definitions.md
  hestia/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/docs/ADR/archive/architecture_POA.core-duplicate.md
  tree_viz_config.txt
Due: hestia-adr-lint, deny-offer-lines

ADR-0018 hygiene: ensure canonical dirs, corral loose reports to dated batch, harden .gitignore (no runtime mutations)
  .gitignore
  hestia/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/docs/ADR/ADR-0010-workspace-shape-and-autofs.md
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/tools/utils/vault_manager/vault_indexer.py
Due: hestia-adr-lint, deny-offer-lines

ops: enforce canonical structure in workspace quiet check
  ops/check_workspace_quiet.sh
Due: none

CI: fix governance workflow failures
  .github/workflows/adr_lint.yml
  .github/workflows/deny-offer-lines.yml
  .github/workflows/metadata-validate.yml
  hestia/docs/ADR/archive/ADR-0018-workspace-lifecycle-policy-draft-archived.md
  hestia/docs/ADR/archive/architecture_POA.core-duplicate.md
  hestia/tools/system/hestia_workspace_enforcer.sh
Due: hestia-adr-lint, deny-offer-lines

ADR-0018 hardening: legacy-backup renamer (grace allowlist), .storage pre-commit deny, report index compactor, latest symlink, frontmatter gate, hygiene/bundle scripts, extra CI guards
  .githooks/pre-commit
  .github/adr0018_allowlist.txt
  .github/workflows/adr-0018-extra-guards.yml
  .github/workflows/adr-frontmatter-verify.yml
  Makefile
  hestia/tools/adr/verify_frontmatter.py
  hestia/tools/utils/legacy_backup_renamer.py
  hestia/tools/utils/reportkit/compact_index.py
  hestia/tools/utils/reportkit/link_latest.py
  scripts/hygiene.sh
  scripts/make_bundle.sh
Due: deny-offer-lines

ADR-0018 fixes: macOS tar compatibility, datetime deprecation warnings, virtual env Python support
  hestia/tools/utils/legacy_backup_renamer.py
  scripts/hygiene.sh
  scripts/make_bundle.sh
Due: none

gitignore: add .env to keep environment files untracked
  .gitignore
Due: none

Add workspace topology configuration for LLM discovery
  .github/workflows/hygiene-gate.yml
  README.md
  workspace_ops_export.yaml
Due: deny-offer-lines

Complete ADR-0018 + workspace topology: add ADR-0019 remote policy, link workspace_ops_export.yaml
  .github/workflows/adr-0018-extra-guards.yml
  .github/workflows/adr-0018-include-scan.yml
  .github/workflows/adr-frontmatter-verify.yml
  .github/workflows/adr_lint.yml
  .github/workflows/deny-offer-lines.yml
  .github/workflows/guardrails-rest-command.yml
  .github/workflows/ha-governance.yml
  .github/workflows/metadata-validate.yml
  .github/workflows/rehydration-seed.yml
  .github/workflows/workspace-enforcer.yml
  README.md
  hestia/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/tools/adr/verify_frontmatter.py
  hestia/tools/utils/reportkit/compact_index.py
  hestia/tools/utils/reportkit/link_latest.py
  workspace_ops_export.yaml
Due: hestia-adr-lint, deny-offer-lines

Link workspace topology with ADR documentation
  workspace_ops_export.yaml
Due: deny-offer-lines

cleanup: remove TODO-ADR-bundle.md after extracting all ADRs
  docs/ADR/TODO-ADR-bundle.md
Due: deny-offer-lines

feat: implement cross-repository ADR alignment and linking system
  docs/ADR/ADR-0024-workspace-hygiene-bb8-addon.md
  docs/ADR/ADR-0030-cross-repository-adr-alignment.md
  docs/ADR/ADR-template.md
  docs/ADR/INDEX.md
  docs/ADR/alignment-status.yaml
  docs/ADR/repository-mapping.yaml
  ops/ADR/validate_cross_repo_links.sh
Due: deny-offer-lines

docs: add cross-repository ADR governance section to README
  README.md
Due: deny-offer-lines

Complete ADR-0018 workspace hygiene implementation
  .githooks/pre-commit
  .github/adr0018_allowlist.txt
  .github/workflows/adr-0018-extra-guards.yml
  .github/workflows/adr-frontmatter-verify.yml
  .github/workflows/adr_lint.yml
  .github/workflows/deny-offer-lines.yml
  .github/workflows/guardrails-rest-command.yml
  .github/workflows/metadata-validate.yml
  .github/workflows/rehydration-seed.yml
  .github/workflows/workspace-enforcer.yml
  README.md
  hestia/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/tools/adr/verify_frontmatter.py
  hestia/tools/utils/legacy_backup_renamer.py
  hestia/tools/utils/reportkit/compact_index.py
  hestia/tools/utils/reportkit/link_latest.py
  workspace_ops_export.yaml
Due: hestia-adr-lint, deny-offer-lines

feat: implement cross-repository ADR alignment and linking system
  docs/ADR/deployment-bundle/COPILOT-INSTRUCTIONS.md
  docs/ADR/deployment-bundle/MANIFEST.md
  docs/ADR/deployment-bundle/README.md
  docs/ADR/deployment-bundle/examples/ci-workflow-addition.yml
  docs/ADR/deployment-bundle/examples/example-adr-with-cross-refs.md
  docs/ADR/deployment-bundle/scripts/copy_validation_script.sh
  docs/ADR/deployment-bundle/scripts/deploy.sh
  docs/ADR/deployment-bundle/scripts/post_deploy_validation.sh
  docs/ADR/deployment-bundle/scripts/validate_cross_repo_links.sh
  docs/ADR/deployment-bundle/templates/ADR-XXXX-cross-repo-standard.md
  docs/ADR/deployment-bundle/templates/ADR-template-enhanced.md
  docs/ADR/deployment-bundle/templates/alignment-status.yaml.template
  docs/ADR/deployment-bundle/templates/gitignore-additions.txt
  docs/ADR/deployment-bundle/templates/repository-mapping.yaml.template
Due: deny-offer-lines

Fix CI failures: restore missing components from original branch
  .env.sample
  .github/workflows/adr-0018-include-scan.yml
  .github/workflows/adr_lint.yml
  .github/workflows/deny-offer-lines.yml
  .github/workflows/ha-governance.yml
  .github/workflows/metadata-validate.yml
  .github/workflows/workspace-enforcer.yml
  .gitignore
  Makefile
  PR_BODY_chore-parameterize-ha-mount.md
  hestia/docs/ADR/ADR-0001-tts-yaml.md
  hestia/docs/ADR/ADR-0002-jinja-patterns.md
  hestia/docs/ADR/ADR-0003-tier-definitions.md
  hestia/docs/ADR/ADR-0004-area-hierarchy.md
  hestia/docs/ADR/ADR-0005-entity-sensor-logic-signal.md
  hestia/docs/ADR/ADR-0006-decay-propagation.md
  hestia/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/docs/ADR/ADR-000x-template.md
  hestia/docs/ADR/ADR-0010-workspace-shape-and-autofs.md
  hestia/docs/ADR/ADR-0011-switch-modeling-and-validation.md
  hestia/docs/ADR/ADR-0012-workspace-folder-taxonomy.md
  hestia/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/docs/ADR/ADR-0015-symlink-policy-workspace.md
  hestia/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/docs/ADR/ADR-0018-workspace-lifecycle-policy.md
  hestia/tools/system/hestia_workspace_enforcer.sh
  hestia/tools/validators/scan_hardcoded_ha.sh
  scripts/hygiene.sh
  scripts/make_bundle.sh
Due: hestia-adr-lint, deny-offer-lines
