Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: hestia-adr-lint
        name: hestia-adr-lint
        entry: hestia-adr-lint --format human
        language: system
        files: ^hestia/library/docs/ADR/.*\.md$
        exclude: ^(docs/playbooks|docs/runbooks)/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, colored, -s]

  - repo: local
    hooks:
      - id: validate-metadata
        name: Validate HESTIA metadata
        entry: .venv/bin/python hestia/tools/validate_metadata.py
        language: system
        pass_filenames: false
      - id: hestia-workspace-enforcer
        name: Hestia Workspace Enforcer
        entry: hestia/tools/system/hestia_workspace_enforcer.sh
        language: script
        types: [yaml, sh, py, txt]
        pass_filenames: false

  - repo: local
    hooks:
      - id: deny-offer-lines
        name: deny-offer-lines
        entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
        language: script
        files: "\\.(md|markdown|txt|yml|yaml)$"

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/integration/integration.file_size.md
  hestia/library/ha_implementation/integration/integration.generic_hygrostat.md
  hestia/library/ha_implementation/integration/integration.mqtt_device_tracker.md
  hestia/library/ha_implementation/integration/integration.sensor-cli.md
  hestia/library/ha_implementation/integration/integration.sensor-london_underground.md
  hestia/library/ha_implementation/integration/integration.vesync.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/error_patterns.yml
  hestia/library/ha_implementation/integration/core.homeassistant.md
  hestia/library/ha_implementation/integration/integration.sensor-de_lijn.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/integration/core.homeassistant.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/error_patterns.yml
  hestia/library/ha_implementation/integration/integration.customize.md
  hestia/library/ha_implementation/integration/integration.device_tracker.md
  hestia/library/ha_implementation/integration/integration.homeassistant.md
  hestia/library/ha_implementation/integration/integration.mqtt_device_tracker.md
  hestia/library/ha_implementation/integration/integration.sensor-snmp.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/ha_implementation/integration/integration.script.md
  hestia/library/ha_implementation/integration/integration.sensor-snmp.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/context/conversations/68ee5be8-03ec-8331-8d66-a46709fd12b1.txt
  hestia/library/prompts/context/README.md
  hestia/library/prompts/development/drafts/ha_integration_analyzer.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/development/drafts/ha_integration_analyzer.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/workspace/cache/patch_plans/20251015_ha_integration_analyzer_v2_patch_plan.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/development/drafts/ha_integration_analyzer_v2.prompt.md
  hestia/workspace/cache/patch_plans/20251015_ha_integration_analyzer_v2_patch_plan.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/guides/README_VALETUDO_CLEANING.md
  hestia/library/docs/guides/README_package_adaptive_motion_lights.md
  hestia/library/docs/guides/blueprint_usage_guide.md
  hestia/library/docs/guides/dsm_as_origin_github_mirror.md
  hestia/library/docs/guides/dsm_configure-synology-nas-git-server.md
  hestia/library/docs/guides/governance_digest_ADR_reference.md
  hestia/library/docs/guides/improve-your-home-assistant-performance-with-mariadb-tuning.md
  hestia/library/docs/guides/mariadb-addon-adjust-settings-to-improve-performance-and-persists-after-reboot.md
  hestia/library/docs/guides/mqtt_discovery_comprehensive_analysis.md
  hestia/library/docs/guides/optimize-your-home-assistant-database.md
  hestia/library/docs/guides/plex_webhooks.md
  hestia/library/docs/guides/tinytuya_user_manual_complete.md
  hestia/library/docs/playbooks/ha-validation-setup.md
  hestia/library/prompts/development/drafts/ha_integration_analyzer.prompt.md
  hestia/library/prompts/development/drafts/ha_integration_analyzer_v2.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/knowledge_base_index.json
  .workspace/knowledge_base_index.md
  hestia/library/prompts/development/drafts/ha_integration_analyzer.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/knowledge_base_index.json
  .workspace/knowledge_base_index.md
  hestia/config/index/appdaemon_index.yaml.bak
  hestia/library/docs/guides/knowledge_base_indexing_system.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/config_index.json
  .workspace/config_index.md
  .workspace/config_index.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/config_index.json
  .workspace/config_index.md
  .workspace/config_index.yaml
  .workspace/knowledge_base_index.json
  .workspace/knowledge_base_index.md
  hestia/library/docs/guides/configuration_index_system.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/governance_index.json
  .workspace/governance_index.md
  hestia/library/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md
  hestia/library/docs/architecture/architecture_POA.md
  hestia/library/docs/architecture/hestia_structure.md
  hestia/library/docs/guides/configuration_index_system.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/governance_index.json
  .workspace/governance_index.md
  .workspace/knowledge_base_index.json
  .workspace/knowledge_base_index.md
  hestia/library/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/library/docs/ADR/ADR-0011-switch-modeling-and-validation.md
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md
  hestia/library/docs/ADR/ADR-0015-symlink-policy-workspace.md
  hestia/library/docs/guides/enhanced_governance_index_system.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/library/docs/ADR/ADR-0015-symlink-policy-workspace.md
  hestia/library/prompts/development/drafts/adr_frontmatter_standardization.prompt.md
  hestia/tools/adr_frontmatter_update.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/governance_index.json
  .workspace/governance_index.md
  .workspace/knowledge_base_index.json
  .workspace/knowledge_base_index.md
  hestia/library/docs/ADR/ADR-0001-tts-yaml.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0002-jinja-patterns.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0003-tier-definitions.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0004-area-hierarchy.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0005-entity-sensor-logic-signal.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0006-decay-propagation.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md.bak-20251015-133013
  hestia/library/docs/ADR/ADR-0008-normalization-and-determinism-rules.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-000x-template.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0011-switch-modeling-and-validation.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0014-oom-and-recorder-policy.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0015-symlink-policy-workspace.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0018-workspace-lifecycle-policy.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0020-ha-config-error-canonicalization.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0021-motion-occupancy-presence-signals.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0022-hass-mount-keychain-creds-telemetry.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md.bak-20251015-133014
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md.bak-20251015-133015
  hestia/library/docs/ADR/ADR-0026-workspace-environment-ops.md.bak-20251015-133015
  hestia/library/docs/ADR/ADR-0027-file-writing-governance.md.bak-20251015-133015
  hestia/library/docs/ADR/ADR-0028-appdaemon-room-db-sql-migration.md.bak-20251015-133015
  hestia/tools/adr/adr_lint.sh
  hestia/tools/adr/frontmatter_update.py
  hestia/tools/adr/frontmatter_verify.py
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0001-tts-yaml.md
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/library/prompts/development/drafts/adr_frontmatter_standardization.prompt.md
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter_update.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0009-adr-governance-formatting.md
  hestia/tools/adr/frontmatter_update.py
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/governance_index.json
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/meta/adr.toml
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/meta/adr.toml
  hestia/library/prompts/development/adr_frontmatter_modular_system.prompt.md
  hestia/tools/adr/frontmatter-id.py
  hestia/tools/adr/frontmatter-slug.py
  hestia/tools/adr/frontmatter_update.py.bak-20251015-140351
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter-slug.py
  hestia/tools/adr/frontmatter_update.py
  requirements-dev.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter_update.py
  hestia/tools/adr/frontmatter_update.py.bak-20251015-141230
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/development/testing/adr_frontmatter_modular_system.prompt.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter-date.py
  hestia/tools/adr/frontmatter-decision.py
  hestia/tools/adr/frontmatter-last_updated.py
  hestia/tools/adr/frontmatter-related.py
  hestia/tools/adr/frontmatter-status.py
  hestia/tools/adr/frontmatter-supersedes.py
  hestia/tools/adr/frontmatter-title.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/adr/frontmatter-id.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/meta/adr.toml
  hestia/tools/adr/frontmatter-date.py
  hestia/tools/adr/frontmatter-decision.py
  hestia/tools/adr/frontmatter-id.py
  hestia/tools/adr/frontmatter-last_updated.py
  hestia/tools/adr/frontmatter-related.py
  hestia/tools/adr/frontmatter-status.py
  hestia/tools/adr/frontmatter-supersedes.py
  hestia/tools/adr/frontmatter-title.py
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .workspace/governance_index.json
  .workspace/governance_index.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/architecture/adr_system_architecture.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/hestia.toml
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/config/system/hestia.toml
  hestia/library/docs/architecture/hestia_configuration_system_architecture.md
Due: deny-offer-lines
