Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/adaptive_motion_lighting/motion_lights_bedroom.yaml
  packages/adaptive_motion_lighting/motion_lights_ensuite.yaml
  packages/adaptive_motion_lighting/vars_consolidated.yaml
Due: deny-offer-lines

Fix duplicate friendly_name error and correct entity references
  packages/adaptive_motion_lighting/vars_consolidated.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_presence_activity.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/variables/aml_vars.yaml
  domain/variables/plex_vars,yaml
  domain/variables/valetudo_vars.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/variables/plex_vars.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/variables/aml_vars.yaml
  domain/variables/tts_vars.yaml
  domain/variables/valetudo_vars.yaml
  packages/package_tts_gate.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/lights/adaptive_light_groups.yaml
  domain/variables/aml_vars.yaml
  packages/adaptive_motion_lighting/motion_lights_bedroom.yaml
  packages/adaptive_motion_lighting/motion_lights_desk.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/variables/aml_vars.yaml
  hestia/library/templates/devtools/adaptive-motion-lighting/al_room_audit.jinja2
  hestia/workspace/todo/0004-adml-update.md
  packages/adaptive_motion_lighting/adaptive_lighting.yaml
  packages/adaptive_motion_lighting/motion_lights_kitchen.yaml
  packages/adaptive_motion_lighting/telemetry_last_triggered.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/variables/aml_vars.yaml
  domain/variables/valetudo_vars.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  configuration.yaml
  domain/variables/aml_vars.yaml
  hestia/workspace/todo/0004-adml-update.md
  packages/adaptive_motion_lighting/motion_lights_desk.yaml
  packages/adaptive_motion_lighting/telemetry_last_triggered.yaml
  packages/hacs/hacs_var.yaml
  packages/integrations/variable.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/hacs/hacs_var.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/package_universal_media.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  domain/sensors/rest_glances.yaml
  domain/sensors/rest_glances.yaml.bak
  packages/package_unavailable_entities.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  packages/integrations/variable.yaml.bak
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  packages/adaptive_motion_lighting/adaptive_lighting.yaml
  packages/adaptive_motion_lighting/bridge_aml_config_to_al.yaml
  packages/adaptive_motion_lighting/bypass_alias_sensors.yaml
  packages/adaptive_motion_lighting/motion_lights_bedroom.yaml
  packages/adaptive_motion_lighting/motion_lights_desk.yaml
  packages/adaptive_motion_lighting/motion_lights_ensuite.yaml
  packages/adaptive_motion_lighting/motion_lights_hallway.yaml
  packages/adaptive_motion_lighting/motion_lights_kitchen.yaml
  packages/adaptive_motion_lighting/motion_lights_utility.yaml
  packages/adaptive_motion_lighting/telemetry_last_triggered.yaml
  packages/integrations/var.yaml
  packages/valetudo/automations_core.yaml
  packages/valetudo/map_segments_sensor.yaml
  packages/valetudo/scripts_blueprints.yaml
  packages/valetudo/scripts_rooms.yaml
  packages/valetudo/scripts_writers.yaml
  packages/valetudo/sensors_composite.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/availability_check.jinja
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/availability_check.jinja
  hestia/library/templates/availability_check.yml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/sql_room_db.promptset
  hestia/library/prompts/catalog/test_exactly_forty_characters_long.test
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/adr_0024_test.txt
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/historical/ha_smb_mount.md
  hestia/library/docs/reference/ha_smb_mount.md
  hestia/library/guides/reference/README_VALETUDO_CLEANING.md
  hestia/library/guides/reference/README_package_adaptive_motion_lights.md
  hestia/library/guides/reference/blueprint_usage_guide.md
  hestia/library/guides/reference/dsm_as_origin_github_mirror.md
  hestia/library/guides/reference/dsm_configure-synology-nas-git-server.md
  hestia/library/guides/reference/improve-your-home-assistant-performance-with-mariadb-tuning.md
  hestia/library/guides/reference/mariadb-addon-adjust-settings-to-improve-performance-and-persists-after-reboot.md
  hestia/library/guides/reference/mqtt_discovery_comprehensive_analysis.md
  hestia/library/guides/reference/optimize-your-home-assistant-database.md
  hestia/library/guides/reference/plex_webhooks.md
  hestia/library/guides/reference/tinytuya_user_manual_complete.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/guides/ha_implementation/integration.sql.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/guides/ha_implementation/integration.database.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha-probe.20251008T101103Z
  .ha-probe.20251008T101136Z
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/ops/ci_root_hygiene_check.sh
  hestia/workspace/operations/delta_contracts/single_mount_collapse.delta
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/ADR/ADR-0024-canonical-config-path.md
  hestia/workspace/operations/delta_contracts/single_mount_collapse.delta
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/copilot_adaptive_motion_lighting_refactor.prompt
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/sql_room_db.promptset
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/prompts/catalog/sql_room_db.promptset
  hestia/library/prompts/catalog/sql_room_db_v2.promptset
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/guides/ha_implementation/integration.database.md
  hestia/library/guides/ha_implementation/integration.sql.md
  hestia/library/guides/ha_implementation/integration.templates.md
  hestia/library/prompts/catalog/sql_room_db.promptset
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/guides/ha_implementation/integration.templates.md
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/guides/ha_implementation/integration.templates.md
  hestia/library/prompts/catalog/sql_room_db/sql_room_db.promptset
  hestia/library/prompts/catalog/sql_room_db/sql_room_db_v2.promptset
Due: deny-offer-lines

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
