Repository e-app-404/hestia_config: changes, and which pre-commit hooks are due for each by the changed paths.
All: hestia-adr-lint, deny-offer-lines

hestia-adr-lint:
  name: hestia-adr-lint
  entry: hestia-adr-lint --format human
  language: system

deny-offer-lines:
  name: deny-offer-lines
  entry: hestia/workspace/operations/guardrails/deny_offer_lines.sh
  language: script

docs: infra-only mode soft-success implementation details
  INFRA_ONLY_MODE_SUCCESS.md
Due: deny-offer-lines

feat(workflow): comprehensive hardening with dynamic extraction and artifact uploads
  .github/workflows/ha-restoration.yml
  hestia/workspace/operations/deploy/ha_complete_restoration_v2.0/validate_bundle.sh
  home_assistant_complete_restoration_v2.6_PRODUCTION.tar.gz
Due: deny-offer-lines

fix(workflow): correct shell quoting for env var expansion in SSH commands
  .github/workflows/ha-restoration.yml
Due: deny-offer-lines

fix(bundle): rebuild without macOS metadata files
  home_assistant_complete_restoration_v2.6_PRODUCTION.tar.gz
Due: none

docs: comprehensive workflow hardening implementation summary
  WORKFLOW_HARDENING_COMPLETE.md
Due: deny-offer-lines

fix: update tools to use canonical ADR location
  hestia/tools/adr/verify_frontmatter.py
  hestia/tools/utils/validators/adr_lint/.github/workflows/adr_lint.yml
  hestia/tools/utils/validators/adr_lint/.pre-commit-config.yaml
  hestia/tools/utils/validators/adr_lint/src/hestia/tools/adr_lint/cli.py
  ops/ADR/validate_cross_repo_links.sh
Due: deny-offer-lines

fix: update motion/occupancy sensor entity references across workspace
  INFRA_ONLY_MODE_SUCCESS.md
  automations.yaml
  domain/groups/lights.yaml
  domain/groups/motion.yaml
  domain/groups/occupancy.yaml
  domain/lights/bedroom_lights.yaml
  domain/lights/other_rooms_lights.yaml
  domain/templates/desk_presence_inferred.yaml
  domain/templates/illuminance_logic.yaml
  domain/templates/motion_logic.yaml
  hestia/library/blueprints/motion_lights.yaml
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.20251001-170000
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.final_candidate.json
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.new
  hestia/workspace/archive/vault/registry/core.entity_registry.final_candidate.json
  hestia/workspace/templates/devtools/integrations.jinja
  hestia/workspace/templates/devtools/motion_occupancy.jinja
  packages/package_presence_activity.yaml
  packages/package_smartthings_failover.yaml
  packages/package_unavailable_entities.yaml
Due: deny-offer-lines

chore: ignore artifacts/ directory (generated bundles)
  .gitignore
  .ha_run.lock
Due: none

fix: update motion/occupancy sensor entity references across workspace
  domain/groups/occupancy.yaml
  domain/templates/motion_logic.yaml
  hestia/library/blueprints/motion_lights.yaml
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.20251001-170000
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.final_candidate.json
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.new
Due: deny-offer-lines

docs(receipt): recovery 20251003T184210Z — ADR-0019 addendum policy + artifacts
  hestia/workspace/operations/patches/recovery_20251003/diffstat_20251003T184210Z.txt
  hestia/workspace/operations/patches/recovery_20251003/receipt_20251003T184210Z.txt
Due: deny-offer-lines

Recovery: Apply local commits per ADR-0019 addendum policy (#8)
  .gitignore
  domain/groups/occupancy.yaml
  domain/templates/motion_logic.yaml
  hestia/library/blueprints/motion_lights.yaml
  hestia/library/docs/reference/ha_smb_mount.md
  hestia/library/guides/ha_implementation/integration.mqtt.md
  hestia/tools/adr/validate_cross_repo_links.sh
  hestia/tools/utils/ha_bb8/ha_ble_audit.sh
  hestia/tools/utils/legacy_backup_renamer.py
  hestia/tools/utils/samba/access_config_lean.sh
  hestia/tools/utils/samba/generate_hass_mount_diagnostics.sh
  hestia/tools/utils/samba/ha-mount-mac.sh
  hestia/tools/utils/samba/ha_mount_helper.sh
  hestia/tools/utils/samba/hass_autofs_disable.sh
  hestia/tools/utils/samba/publish_hass_mount_status_mqtt.sh
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.20251001-170000
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.final_candidate.json
  hestia/workspace/archive/duplicates/core.entity_registries/core.entity_registry.new
  hestia/workspace/operations/patches/recovery_20251003/diffstat_20251003T184210Z.txt
  hestia/workspace/operations/patches/recovery_20251003/receipt_20251003T184210Z.txt
  hestia/workspace/todo/0002-ADR-0019-addendum.md
  hestia/workspace/todo/prompt.library_consolidation.md
Due: deny-offer-lines

docs: add telemetry merge receipt per ADR-0019
  hestia/reports/20251004/telemetry_merge_receipt_20251004T185424Z.txt
Due: deny-offer-lines

refactor: update Home Assistant automation syntax to modern format
  automations.yaml
  domain/automations/decay_automation.yaml
  domain/automations/ha_log_recorder.yaml
  domain/automations/system_git_push.yaml
  domain/scripts/device_recovery.yaml
  packages/hestia/ha_mount_telemetry_webhook.yaml
  packages/media_matrix/shortcuts.yaml
  packages/package_light_colorloop.yaml
  packages/package_oom_guard.yaml
  packages/package_universal_media.yaml
Due: deny-offer-lines

feat(adr): canonicalize operator priority resolution for merge conflicts
  hestia/library/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/library/docs/ADR/ADR-0020-operator-priority-merge-resolution.md
Due: hestia-adr-lint, deny-offer-lines

fix(adr): renumber operator priority ADR from 0020 to 0023
  .ha_run.lock
  hestia/library/docs/ADR/ADR-0005-entity-sensor-logic-signal.md
  hestia/library/docs/ADR/ADR-0006-decay-propagation.md
  hestia/library/docs/ADR/ADR-0007-meta-governance-schema.md
  hestia/library/docs/ADR/ADR-0008-normalization-and-determinism-rules.md
  hestia/library/docs/ADR/ADR-0013-extracted-config-merge.md
  hestia/library/docs/ADR/ADR-0016-canonical-ha-smb-mount.md
  hestia/library/docs/ADR/ADR-0017-fallback-local-logging.md
  hestia/library/docs/ADR/ADR-0019-remote-topology-mirror-policy.md
  hestia/library/docs/ADR/ADR-0021-motion-occupancy-presence-signals.md
  hestia/library/docs/ADR/ADR-0023-operator-priority-merge-resolution.md
  hestia/library/docs/ADR/area_hierarchy.yaml
  hestia/workspace/cache/canvas/package_motion_lights-1a.yaml
  hestia/workspace/cache/canvas/package_motion_lights-2a.yaml
  packages/package_tts_gate.yaml
Due: hestia-adr-lint, deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  blueprints/automation/Blackshome/sensor-light-add-on.yaml
  blueprints/automation/smenzer/motion-triggered-lights-with-timer-blueprint.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  hestia/library/blueprints/blueprint-matrix.yaml
  hestia/library/docs/playbooks/glances_tailnet_playbook.yaml
  packages/adaptive_motion_lighting/motion_lights_bedroom.yaml
  packages/adaptive_motion_lighting/motion_lights_desk.yaml
  packages/adaptive_motion_lighting/motion_lights_ensuite.yaml
  packages/adaptive_motion_lighting/motion_lights_hallway.yaml
  packages/adaptive_motion_lighting/motion_lights_kitchen.yaml
  packages/adaptive_motion_lighting/motion_lights_utility.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/playbooks/glances_tailnet_playbook.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  .ha_run.lock
  hestia/tools/backup_validator.sh
  hestia/tools/error_patterns.yml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/error_patterns.yml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/entity_duplicate_cleaner.sh
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/cli.conf
  hestia/tools/entity_duplicate_cleaner.sh
  hestia/tools/error_patterns.yml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/adaptive_motion_lighting/motion_lights_bedroom.yaml
  packages/adaptive_motion_lighting/motion_lights_desk.yaml
  packages/adaptive_motion_lighting/motion_lights_ensuite.yaml
  packages/adaptive_motion_lighting/motion_lights_hallway.yaml
  packages/adaptive_motion_lighting/motion_lights_kitchen.yaml
  packages/adaptive_motion_lighting/motion_lights_utility.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  packages/adaptive_motion_lighting/motion_lights_hallway.yaml
  packages/adaptive_motion_lighting/vars.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/docs/reference/README_package_adaptive_motion_lights.md
  hestia/tools/entity_duplicate_cleaner.sh
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  custom_templates/template.library.jinja.bak-20251006-195134
  custom_templates/template.library.jinja.bak-20251006-195134.sha256
Due: none

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/library/templates/lovelace/lovelace_tile.yaml
Due: deny-offer-lines

feat(ha): LocalTuya entities + dehumidifier DP maps, PS4 package, and docs
  hestia/tools/enhanced_entity_validator.sh
  hestia/tools/entity_duplicate_cleaner.sh
Due: none

Path conditions:
  hestia-adr-lint: any of: ^hestia/library/docs/ADR/.*\.md$, but not: ^(docs/playbooks|docs/runbooks)/
  deny-offer-lines: any of: \.(md|markdown|txt|yml|yaml)$
